body { margin: 0; padding: 0; color: #edb; background-color: #200; font-family: Arial, Helvetica, Sans-Serif; font-size: 0.8em }
a { font-weight: bold; color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 160%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; font-style: italic; }
img { border: 0; }
p { text-align: justify; }
table { font-size: 100%; }

.header { margin: 0; height: 30px; padding: 0; padding-top: 120px; background-color: #000; background-image: url('../images/banner.png'); background-repeat: no-repeat; font-size : 120%; text-align: center; }
.content { padding: 1em; }
.italic { font-style: italic; }
.smaller { font-size: 80%; }
.center { text-align: center; }
.breaker { clear: both; }

fieldset, .right, .left { background-color: #400; border: 1px solid #edb; }
fieldset { padding-left: 1.5em; }
.right { float: right; width: 30%; margin: 2em; }
.left { float: left; width: 42%; margin: 1em; }
legend { color: #edb; font-weight: bold; }
fieldset th { text-align:right; vertical-align: top; padding: 0.5em; }

input, select, textarea, .messages { color: #edb; background-color: #200; border: 1px solid #edb; }
textarea { padding: 0.5em; font-family: Arial, Helvetica, Sans-Serif; font-size: 100%; }
.camo { border: none; font-weight: bold; text-align: center; }

.sepia { background-color: #edb; color: #200; font-weight: bold; }
.sepia a { color: #000; }

.messages p, .left { padding-left: 1em; padding-right: 1em; }
.bordered { width: 100%; border: 1px solid #edb; }
.bordered th, .bordered td, .strip { padding: 0.5em; background-color: #400; }